<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="caster">
  <xacro:macro name="caster" params="prefix">
    <xacro:arg name="prefix" default=""/>
    <!--material name="guard">
      <color rgba="1 .97 .89 1"/>
    </material-->

    <link name="${prefix}caster">
      <inertial>
        <!-- Roughly caster, plate and bolts -->
        <mass value="1.0"/>
        <inertia ixx="0.0002835" ixy="0.0" ixz="0.0" iyy="0.0002835" iyz="0.0" izz="0.0002835"/>
      </inertial>
      <visual>
        <origin rpy="1.56 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://tahoma_description/meshes/stand/caster.stl"/>
        </geometry>
        <material name="wheel">
          <color rgba=".2 .2 .2 1"/>
        </material>
      </visual>
      <collision>
        <origin rpy="1.56 0 0" xyz="0 0 0"/>
        <geometry>
          <box size="0.09 0.1040 0.1225"/>
        </geometry>
      </collision>
    </link>
  </xacro:macro>
</robot>