<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="stand">
  <xacro:include filename="$(find tahoma_description)/urdf/caster.xacro"/>
  <xacro:include filename="$(find tahoma_description)/urdf/light_panel.xacro"/>
  <xacro:macro name="stand">
    <xacro:property name="M_PI" value="3.1415926535897931"/>
    <xacro:property name="M_PI_2" value="1.57079632679489661923"/>


    <material name="blue_aluminum">
      <!-- more accurate but less pretty :) -->
      <!--color rgba=".14 .24 .31 1"/>
      <color rgba=".26 .44 .545 1"/-->
      <color rgba=".23 .42 .64 1"/>
    </material>

    <link name="stand">
      <inertial>
        <mass value="10.0"/>
        <inertia ixx="0.0002835" ixy="0.0" ixz="0.0" iyy="0.0002835" iyz="0.0" izz="0.000324"/>
      </inertial>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://tahoma_description/meshes/stand/stand_base.stl"/>
        </geometry>
        <material name="blue_aluminum"/>
      </visual>
      <collision>
        <!-- across -->
        <origin rpy="0 0 0" xyz=".4050 0 .0281"/>
        <geometry>
          <box size=".09 1.53 .045"/>
        </geometry>
      </collision>
      <collision>
        <!-- right -->
        <origin rpy="0 0 0" xyz="0 -.72 -.0225"/>
        <geometry>
          <box size=".9 .09 .0562"/>
        </geometry>
      </collision>
      <collision>
        <!-- left -->
        <origin rpy="0 0 0" xyz="0 .72 -.0225"/>
        <geometry>
          <box size=".9 .09 .0562"/>
        </geometry>
      </collision>
    </link>

    <link name="stand_upright">
      <inertial>
        <mass value="34"/>
        <inertia ixx="0.0002835" ixy="0.0" ixz="0.0" iyy="0.0002835" iyz="0.0" izz="0.000324"/>
      </inertial>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://tahoma_description/meshes/stand/stand_upright.stl"/>
        </geometry>
        <material name="blue_aluminum"/>
      </visual>
      <collision>
        <!-- right upright -->
        <origin rpy="0 0 0" xyz="-.1709 0.6975 0"/>
        <geometry>
          <box size=".2298 .0450 1.89"/>
        </geometry>
      </collision>
      <collision>
        <!-- left upright -->
        <origin rpy="0 0 0" xyz="-.1709 -0.6975 0"/>
        <geometry>
          <box size=".2298 .0450 1.89"/>
        </geometry>
      </collision>

      <collision>
        <!-- top beam -->
        <origin rpy="0 0 0" xyz="-.1733 0 .9012"/>
        <geometry>
          <box size=".2370 1.44 .0960"/>
        </geometry>
      </collision>
    </link>
    <link name="stand_brace">
      <inertial>
        <mass value="5"/>
        <inertia ixx="0.0002835" ixy="0.0" ixz="0.0" iyy="0.0002835" iyz="0.0" izz="0.000324"/>
      </inertial>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://tahoma_description/meshes/stand/stand_brace.stl"/>
        </geometry>
        <material name="blue_aluminum"/>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <box size=".102 1.4390 .4934"/>
        </geometry>
      </collision>
    </link>
    <link name="cantilever">
      <inertial>
        <mass value="8"/>
        <inertia ixx="0.0002835" ixy="0.0" ixz="0.0" iyy="0.0002835" iyz="0.0" izz="0.000324"/>
      </inertial>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://tahoma_description/meshes/stand/cantilever.stl"/>
        </geometry>
        <material name="blue_aluminum"/>
      </visual>
      <collision>
        <origin xyz="0 0 .0415"/>
        <geometry>
          <box size=".7260 .225 .09"/>
        </geometry>
      </collision>
    </link>
    <link name="control_box_mount">
      <inertial>
        <mass value="3"/>
        <inertia ixx="0.0002835" ixy="0.0" ixz="0.0" iyy="0.0002835" iyz="0.0" izz="0.000324"/>
      </inertial>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://tahoma_description/meshes/stand/control_box_mount.stl"/>
        </geometry>
        <material name="blue_aluminum"/>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <box size=".585 .0602 .1790"/>
        </geometry>
      </collision>
    </link>

    <link name="control_box">
      <inertial>
        <mass value="7"/>
        <inertia ixx="0.0002835" ixy="0.0" ixz="0.0" iyy="0.0002835" iyz="0.0" izz="0.000324"/>
      </inertial>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://tahoma_description/meshes/stand/control_box.stl"/>
        </geometry>
        <material name="aluminum"/>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <box size=".46 .25 .44"/>
        </geometry>
      </collision>
    </link>
    <link name="robot_plate">
      <inertial>
        <mass value=".5"/>
        <inertia ixx="0.0002835" ixy="0.0" ixz="0.0" iyy="0.0002835" iyz="0.0" izz="0.000324"/>
      </inertial>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://tahoma_description/meshes/stand/robot_plate.stl"/>
        </geometry>
        <material name="blue_aluminum"/>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <box size=".225 .225 .0225"/>
        </geometry>
      </collision>
    </link>

    <xacro:caster prefix="front_right_"/>
    <xacro:caster prefix="front_left_"/>
    <xacro:caster prefix="back_left_"/>
    <xacro:caster prefix="back_right_"/>
    <xacro:light_panel prefix="left_"/>
    <xacro:light_panel prefix="right_"/>


    <joint name="stand_stand_upright_joint" type="fixed">
      <parent link="stand"/>
      <child link="stand_upright"/>
      <origin rpy="0 0 0" xyz="-.12 0 .95"/>
    </joint>

    <joint name="stand_upright_stand_brace_joint" type="fixed">
      <parent link="stand_upright"/>
      <child link="stand_brace"/>
      <origin rpy="0 0 0" xyz="-.24 0 -.59"/>
    </joint>

    <joint name="stand_upright_robot_control_box_mount_joint" type="fixed">
      <parent link="stand_upright"/>
      <child link="control_box_mount"/>
      <origin rpy="0 0 0" xyz="-.1725 .7475 0"/>
    </joint>

    <joint name="control_box_mount_control_box_joint" type="fixed">
      <parent link="control_box_mount"/>
      <child link="control_box"/>
      <origin rpy="0.05 0 ${M_PI}" xyz="-.003 .1375 -0.13"/>
    </joint>

    <joint name="stand_cantilever_joint" type="fixed">
      <parent link="stand_upright"/>
      <child link="cantilever"/>
      <origin rpy="0 0 0" xyz=".0775 0  0.9475"/>
    </joint>

    <joint name="cantilever_robot_plate_joint" type="fixed">
      <parent link="cantilever"/>
      <child link="robot_plate"/>
      <origin rpy="0 0 0" xyz="0.2505 0 -.015"/>
    </joint>

    <joint name="stand_front_right_caster_joint" type="fixed">
      <parent link="stand"/>
      <child link="front_right_caster"/>
      <origin rpy="0 0 0" xyz=".405 -.7375 -0.1"/>
    </joint>

    <joint name="stand_front_left_caster_joint" type="fixed">
      <parent link="stand"/>
      <child link="front_left_caster"/>
      <origin rpy="0 0 0" xyz=".405 .7025 -0.1"/>
    </joint>
    <joint name="stand_back_right_caster_joint" type="fixed">
      <parent link="stand"/>
      <child link="back_right_caster"/>
      <origin rpy="0 0 0" xyz="-.405 -.7375 -0.1"/>
    </joint>

    <joint name="stand_back_left_caster_joint" type="fixed">
      <parent link="stand"/>
      <child link="back_left_caster"/>
      <origin rpy="0 0 0" xyz="-.405 .7025 -0.1"/>
    </joint>

    <joint name="stand_left_light_panel_joint" type="fixed">
      <parent link="stand_upright"/>
      <child link="left_light_panel"/>
      <origin rpy="0 ${M_PI_2} 0" xyz="-.2625 .35 .25"/>
    </joint>
    <joint name="stand_left_right_panel_joint" type="fixed">
      <parent link="stand_upright"/>
      <child link="right_light_panel"/>
      <origin rpy="0 ${M_PI_2} 0" xyz="-.2625 -.35 .25"/>
    </joint>
  </xacro:macro>

</robot>