<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="tahoma">
  <xacro:include filename="$(find ur_description)/urdf/inc/ur16e_macro.xacro"/>
  <xacro:include filename="$(find tahoma_description)/urdf/stand.xacro"/>
  <!-- <xacro:include filename="$(find robotiq_2f_85_gripper_visualization)/urdf/robotiq_arg2f_85_macro.xacro"/> -->
  <xacro:include filename="$(find robotiq_epick_visualization)/urdf/robotiq_epick_model_macro.xacro" />
  <xacro:include filename="$(find tahoma_description)/urdf/_l515.urdf.xacro" />


  <!-- <xacro:include filename="$(find realsense2_description)/urdf/_l515.urdf.xacro"/> -->
  <xacro:macro name="tahoma" params="
  realsense:=false
  azure_kinect:=true
  use_nominal_camera_extrinsics:=false
  camera_arrangement:='manual'
  camera_baseline:=.5
  camera_focal_depth:=1.4
  gripper_transmission_hw_interface:='hardware_interface/EffortJointInterface'
  joint_limits_parameters_file:='$(find ur_description)/config/ur16e/joint_limits.yaml'
  kinematics_parameters_file:='$(find tahoma_description)/config/arm_calibration.yaml'
  physical_parameters_file:='$(find ur_description)/config/ur16e/physical_parameters.yaml'
  visual_parameters_file:='$(find ur_description)/config/ur16e/visual_parameters.yaml'
  transmission_hw_interface:=hardware_interface/PositionJointInterface
  safety_limits:=false
  safety_pos_margin:=0.15
  safety_k_position:=20">

    <xacro:stand/>
    <xacro:ur16e_robot prefix="arm_"
        joint_limits_parameters_file="${joint_limits_parameters_file}"
        kinematics_parameters_file="${kinematics_parameters_file}"
        physical_parameters_file="${physical_parameters_file}"
        visual_parameters_file="${visual_parameters_file}"
        transmission_hw_interface="${transmission_hw_interface}"
        safety_limits="${safety_limits}"
        safety_pos_margin="${safety_pos_margin}"
        safety_k_position="${safety_k_position}"/>
    <!-- <xacro:robotiq_arg2f_85
            prefix="gripper_"
            transmission_hw_interface="${gripper_transmission_hw_interface}"/> -->
    <xacro:epick_hand hand_link_name="gripper_base_link" robot_name="tahoma"/>
    <link name="base_link"/>
    <joint name="base_joint" type="fixed">
      <origin rpy="0 0 0" xyz="0 0 0.15"/>
      <parent link="base_link"/>
      <child link="stand"/>
    </joint>

    <joint name="robot_plate_arm_base_link_joint" type="fixed">
      <parent link="robot_plate"/>
      <child link="arm_base_link"/>
      <origin rpy="0 ${pi} ${1.5 * pi}" xyz="0 0.00175 -0.00885"/>
    </joint>


    <link name="coupling">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://robotiq_2f_85_gripper_visualization/meshes/visual/coupling.stl"/>
        </geometry>
        <material name="">
          <color rgba="0.1 0.1 0.1 1"/>
        </material>
      </visual>
     <visual>
        <origin xyz="0.0335 0 0.0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://robotiq_2f_85_gripper_visualization/meshes/visual/connector_cover.stl"/>
        </geometry>
        <material name="">
          <color rgba="0.1 0.1 0.1 1"/>
        </material>
      </visual>
      <collision>
        <!-- Primitives are centered, so offset -->
        <origin xyz="${(0.015 / 2) + 0.0335} 0 -0.013" rpy="0 0 0"/>
        <geometry>
          <box size=".015 0.033 .056"/>
        </geometry>
      </collision>
      <collision>
        <!-- Primitives are centered, so offset -->
        <origin xyz="0 0 ${.0169 / 2}" rpy="0 0 0"/>
        <geometry>
          <cylinder radius=".0375" length=".0169"/>
        </geometry>
      </collision>
    </link>

    <joint name="coupling_link_gripper_robotiq_arg2f_base_link_joint" type="fixed">
      <origin xyz="0 0 0.055" rpy="0 0 0"/>
      <parent link="coupling"/>
      <child link="gripper_base_link"/>
    </joint>

    <joint name="arm_tool0-coupling_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 ${1.5 * pi}"/>
      <parent link="arm_tool0"/>
      <child link="coupling"/>
    </joint>

    <xacro:if value="${azure_kinect}">
      <xacro:include filename="$(find tahoma_description)/urdf/azure_kinect.urdf.xacro"/>

      <joint name="kinect_base_joint" type="fixed">
        <parent link="base_link"/>
        <child link="camera_base"/>
        <!-- Link is centered on the optical frames. Slight offset in Y direction to compensate -->
        <origin xyz="-0.256 -0.0277 1.4245" rpy="3.14 3.14 -3.14" />
        <!-- <origin xyz="-0.2426 -0.0277 1.4078" rpy="3.14 3.14 -3.14" /> -->
      </joint>
    </xacro:if>


    <link name="realsense_back_gripper_mount">
      <collision>
        <origin xyz="0.010227 -0.005 0.035" rpy="0 0 0"/>
        <geometry>
          <box size="0.04 0.02 0.08"/>
        </geometry>
      </collision>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://tahoma_description/meshes/realsense/couple_l515_mount.obj"/>
        </geometry>
      </visual>
    </link>


    <!-- L515 Realsense Camera -->
    <xacro:sensor_l515 parent="realsense_back_gripper_mount" use_nominal_extrinsics="${use_nominal_camera_extrinsics}" add_plug="false" use_mesh="true">
      <origin xyz="0.0 0.046 0.06" rpy="${pi} -${0.5 * pi} ${0.5 * pi}"/>
    </xacro:sensor_l515>

    <joint name="realsense_back_gripper_mount_joint" type="fixed">
        <parent link="coupling"/>
        <child link="realsense_back_gripper_mount"/>
        <origin xyz="-0.018 0.010227 -0.036" rpy="0 0 ${-0.5 * pi}" />
    </joint>


  <link name="gripper_equilibrium_grasp"/>

  <joint name="gripper_base_link_gripper_equilibrium_grasp" type="fixed">
    <parent link="epick_end_effector"/>
      <child link="gripper_equilibrium_grasp"/>
      <origin xyz="0 0 0"
              rpy="0 0 0"/>
  </joint>

</xacro:macro>
</robot>
