<?xml version="1.0"?>
<launch>
  <!--ur16e parameters files. Expected by ur16e_bringup. -->
  <arg name="kinematics_params" default="$(find ur_description)/config/ur16e/default_kinematics.yaml" doc="YAML file containing the robot's kinematic parameters. These will be different for each robot as they contain the robot's calibration."/>
  <arg name="safety_limits" default="true" doc="If True, enable the safety limits controller"/>


  <param name="robot_description" command="$(find xacro)/xacro '$(find tahoma_description)/robots/tahoma.xacro'
    kinematics_params:=$(arg kinematics_params)
    safety_limits:=$(arg safety_limits)
    use_nominal_camera_extrinsics:=false"
    />
</launch>
