<!-- For pod 1 -->
<!-- <launch>
    <node name="robot_to_pod_transform" pkg="tf2_ros" type="static_transform_publisher"
          args="0.95 0.451 -0.088 -1.57 0 0 base_link pod_base_link"/>
</launch> -->

<!-- For pod 2 -->
<launch>
    <node name="robot_to_pod_transform" pkg="tf2_ros" type="static_transform_publisher"
          args="0.95 0.463 -0.064 -1.57 0 0 base_link pod_base_link"/>
</launch>