<launch>
  <node name="pod_location_calibration" pkg="tahoma_description"
        type="pod_location_calibration"
        output="screen"/>

  <include file="$(find azure_kinect_ros_driver)/launch/driver.launch" output="/dev/null">
    <arg name="point_cloud" value="true" />
    <!-- We launch this in low resolution to make RViz smoother.-->
    <arg name="color_resolution" value="720P" />
  </include>
  <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find tahoma_description)/config/pod_location_calibration.rviz"/>
</launch>