<launch>
    <node name="robot_to_pod_transform" pkg="tf2_ros" type="static_transform_publisher"
          args="0.95 0.438 -0.088 -1.57 0 0 base_link pod_base_link"/>
        <!-- manually added offset 0.0 -0.018 -0.084 was previously 
        args="0.95 0.47 0 -1.57 0 0 base_link pod_base_link"/>
        -->
            
</launch>