<launch>
  <arg name="gui" default="True"/>
  <arg name="pod" default="1" doc="Suffix of pod to load. Leave empty or set to 'false' to turn off the pod."/>

  <include file="$(find tahoma_description)/launch/load_tahoma.launch" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <node if="$(arg gui)" name="joint_state_publisher_gui" pkg="joint_state_publisher_gui"
        type="joint_state_publisher_gui"/>

  <!-- send fake joint values -->
  <node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>


  <group if="$(eval pod > 0)">
    <include file="$(find tahoma_description)/launch/load_pod.launch" />
    <include file="$(find tahoma_description)/launch/pod_transform.launch" />
  </group>

  <!-- These should override the nominal values from the URDF -->
  <include file="$(find tahoma_description)/launch/camera_lower_right_transform.launch" />
  <include file="$(find tahoma_description)/launch/camera_lower_left_transform.launch" />

  <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find tahoma_description)/config/view_model.rviz"/>
</launch>