<launch>
  <arg name="gui" default="True"/>

  <param name="robot_description" command="$(find xacro)/xacro '$(find tahoma_description)/urdf/camera_test.xacro'"
    />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find tahoma_description)/config/view_camera_test.rviz"/>
</launch>