<launch>

  <arg name="camera" default="camera_lower_right" />
  <arg name="viz" default="true" />
  <arg name="grasp_detector" default="heuristic" />

  <node name="aurmr_perception" pkg="aurmr_perception" type="aurmr_perception" output="screen">
    <param name="camera_name"                   value="$(arg camera)" />
    <param name="viz"                   value="$(arg viz)" />
  </node>

  <node name="grasp_detection" pkg="aurmr_perception" type="grasp_detection_server" output="screen">
    <param name="grasp_detector"                   value="$(arg grasp_detector)" />
  </node>

</launch>
