<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="tahoma">
  <xacro:arg name="kinematics_params" default="$(find tahoma_description)/config/arm_calibration.yaml" />
  <xacro:arg name="realsense" default="false"/>
  <xacro:arg name="use_nominal_camera_extrinsics" default="false"/>
  <xacro:arg name="safety_limits" default="false" />

  <xacro:include filename="$(find tahoma_description)/urdf/tahoma.xacro"/>
  <xacro:tahoma safety_limits="$(arg safety_limits)" use_nominal_camera_extrinsics="$(arg use_nominal_camera_extrinsics)" kinematics_parameters_file="$(arg kinematics_params)" />
</robot>
