<?xml version="1.0" ?>
<launch>
  <arg name="camera" />
  <rosparam ns="$(arg camera)">
      motion_module/global_time_enabled: true
      l500_depth_sensor/global_time_enabled: true
      rgb_camera/global_time_enabled: true
  </rosparam>
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="align_depth"              value="true"/>
    <arg name="camera"                   value="$(arg camera)" />
    <arg name="enable_pointcloud"         value="true"/>
  </include>

</launch>
