<?xml version="1.0" ?>
<launch>
    <arg name="x" />
    <arg name="y" />
    <arg name="yaw" />
        <!-- URDF and TF support -->
    <param name="pod_description" command="xacro $(find tahoma_description)/robots/pod1.xacro" />
    <node name="pod_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <remap from="robot_description" to="pod_description"/>
        <remap from="joint_states" to="/dev/null" />
    </node>

    <node name="robot_to_pod_transform" pkg="tf2_ros" type="static_transform_publisher" args="$(arg x) $(arg y) 0 $(arg yaw) 0 0 base_link pod_base_link" output="screen"/>

</launch>
