<?xml version="1.0" ?>
<launch>
    <arg name="gui" default="True" />

    <include file="$(find ur_robot_driver)/launch/ur16e_bringup.launch">
        <arg name="robot_ip" value="192.168.43.92" />
        <arg name="robot_description_file" value="$(find tahoma_description)/launch/load_tahoma.launch" />
        <arg name="controller_config_file" default="$(find tahoma_description)/config/controllers.yaml" />
        <arg name="kinematics_config" value="$(find tahoma_description)/config/calibration.yaml" />
        <arg name="use_tool_communication" value="true" />
        <arg name="tool_voltage" value="24" />
    </include>

    <!-- MoveIt -->
    <include file="$(find tahoma_moveit_config)/launch/move_group.launch">
        <arg name="load_robot_description" value="false" />
    </include>

    <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find tahoma_description)/config/view_model.rviz"/>
</launch>