<?xml version="1.0" ?>
<launch>
    <arg name="gui" default="True" />
    <arg name="pod_id" default="1" />
    <!-- <include file="$(find tahoma_bringup)/launch/calibration.launch"/> -->


    <include file="$(find ur_robot_driver)/launch/ur16e_bringup.launch">
        <arg name="controllers" default="joint_group_vel_controller joint_state_controller force_torque_sensor_controller robot_status_controller"/>
        <arg name="stopped_controllers" default="joint_group_pos_controller scaled_pos_joint_traj_controller pos_joint_traj_controller " doc="Controllers that are initally loaded, but not started."/>
        <arg name="robot_ip" value="192.168.43.92" />
        <arg name="robot_description_file" value="$(find tahoma_description)/launch/load_tahoma.launch" />
        <arg name="controller_config_file" default="$(find tahoma_bringup)/config/controllers.yaml" />
        <arg name="kinematics_config" value="$(find tahoma_description)/config/arm_calibration.yaml" />
        <arg name="use_tool_communication" value="true" />
        <arg name="tool_voltage" value="24" />
    </include>

    <!-- MoveIt -->
    <include file="$(find tahoma_moveit_config)/launch/move_group.launch">
        <arg name="load_robot_description" value="false" />
    </include>

    <include file="$(find tahoma_moveit_config)/launch/servo.launch"/>

    <group if="$(eval pod_id > 0)">
      <include file="$(find tahoma_description)/launch/load_pod.launch">
        <arg name="id" value="$(arg pod_id)"/>
      </include>
      <include file="$(find tahoma_description)/launch/pod_transform.launch"/>
    </group>

    <!-- Use realsense-enumerate-devices to examine physical port layout -->
    <!-- <include file="$(find tahoma_bringup)/launch/camera.launch">
      <arg name="camera" value="camera_lower_right" />
      <arg name="usb_port_id" value="4-1" />
    </include> -->
    <!-- FIXME(nickswalker,6-9-22): Depth interference when both cameras are running -->
    <!--include file="$(find tahoma_bringup)/launch/camera.launch">
      <arg name="camera" value="camera_lower_left" />
      <arg name="usb_port_id" value="4-3" />
    </include>-->
<!--     
    <node name="fake_gripper_state" type="fake_gripper_state" pkg="tahoma_bringup" >
      <param name="state" value="1.0" />
    </node> -->

    <arg name="gripper_type" default="vacuum" />
    <include file="$(find robotiq_2f_gripper_control)/launch/robotiq_2f_gripper_socket.launch">
      <arg name="gripper_type" default="$(arg gripper_type)" />
    </include>
    <include file="$(find robotiq_2f_gripper_action_server)/launch/robotiq_2f_gripper_socket_action_server.launch">
      <arg name="gripper_type" default="$(arg gripper_type)" />
    </include>

    <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" />

    <node pkg="nodelet" type="nodelet" name="nodelet1"
          args="load depth_image_proc/point_cloud_xyz nodelet_manager">
      <remap from="camera_info" to="/camera_lower_right/aligned_depth_to_color/camera_info"/>
      <remap from="image_rect" to="/camera_lower_right/aligned_depth_to_color/image_raw"/>
      <remap from="points" to="/camera/depth/points"/>
    </node>

    <include file="$(find aurmr_tasks)/launch/tof.launch">
    </include>


  <!-- Server for webserver communication -->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" > 
     <arg name="port" value="9090"/>
  </include>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tahoma_description)/config/view_model.rviz"/>
</launch>
