<?xml version="1.0" ?>
<launch>
    <arg name="gui" default="True" />
    <arg name="pod_id" default="1" />

    <include file="$(find ur_robot_driver)/launch/ur16e_bringup.launch">
        <arg name="controllers" default="joint_state_controller scaled_pos_joint_traj_controller force_torque_sensor_controller robot_status_controller"/>
        <arg name="stopped_controllers" default="pos_joint_traj_controller joint_group_pos_controller joint_group_vel_controller" doc="Controllers that are initally loaded, but not started."/>        <arg name="robot_ip" value="192.168.43.92" />
        <arg name="robot_description_file" value="$(find tahoma_description)/launch/load_tahoma.launch" />
        <arg name="controller_config_file" default="$(find tahoma_bringup)/config/controllers.yaml" />
        <arg name="kinematics_config" value="$(find tahoma_description)/config/arm_calibration.yaml" />
        <arg name="use_tool_communication" value="true" />
        <arg name="tool_voltage" value="24" />
    </include>

    <!-- MoveIt -->
    <include file="$(find tahoma_moveit_config)/launch/move_group.launch">
        <arg name="load_robot_description" value="false" />
    </include>

    <group if="$(eval pod_id > 0)">
      <include file="$(find tahoma_description)/launch/load_pod.launch">
        <arg name="id" value="$(arg pod_id)"/>
      </include>
      <include file="$(find tahoma_description)/launch/pod_transform.launch"/>
    </group>

    <node name="fake_gripper_state" type="fake_gripper_state" pkg="tahoma_bringup" />

    <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find tahoma_description)/config/view_model.rviz"/>
</launch>
